* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.content {
  overflow: auto;
  background-color: purple;
}

.header {
  background-color: #ededed;
  overflow: auto;
  padding: 10px 15px;
  border-bottom: 1px solid #eaeaea;
}

.header h3 {
  float: left;
  border-right: 1px solid #80888b;
  padding: 10px 50px 10px 10px;
}

.friends-list {
  background-color: #fff;
  width: 25%;
  float: left;
  height: 100vh;
}

.messages {
  background-color: #e3d9d1;
  width: 75%;
  float: right;
  height: 100vh;
}

.container .header .friend-name {
  color: #222;
  font-size: 20px;
  margin-left: 20px;
}

.container .header .btn-login {
  border: none;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  user-select: none;
  outline: 0;
  float: right;
  position: relative;
  top: 8px;
  background-color: #25d366;
  right: 20px;
  color: #fff;
}

.container .header .btn-login:active {
  background-color: rgb(33, 201, 94);
  color: #fff;
}

.friend-name {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
}

.group {
  background-color: #fff;
  height: 52px;
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.group:hover {
  background-color: #f8f8f8;
}

.group:visited {
  background-color: green;
}

.group .group-pic {
  border-radius: 50%;
  background-color: #ddd;
  width: 35px;
}

.content .friends-list div.active {
  background-color: #e8ebea;
}

.group h5 {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 53px;
  font-size: 14px;
  font-weight: 400;
}

.panel {
  width: 50%;
  margin: 10px;
}

.panel-heading {
  background-color: #eaeaea;
  padding: 8px 7px;
  border-radius: 5px 5px 0 0;
}

.panel-body {
  background-color: #fff;
  padding: 10px 7px;
  border-radius: 0 0 5px 5px;
}
